*{
background-color: rgb(212, 211, 211);	
}
.footer{
	width: 100%;
	height: 20vh;
	background-color: #26284e;
	}
	footer{
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		height: auto;
		width: 100vw;
		padding-top: 40px;
		
		}
		body {
			font-family: Arial, Helvetica, sans-serif;
			margin: 0;
		  }
		  
		  html {
			box-sizing: border-box;
		  }
		  
		  *, *:before, *:after {
			box-sizing: inherit;
		  }
		  
		  .column {
			float: left;
			width: 33.3%;
			margin-bottom: 16px;
			padding: 0 8px;
		  }
		  
		  .card {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			margin: 8px;
		  }
		  
		  .about-section {
			padding: 50px;
			text-align: center;
			background-color: #474e5d;
			color: white;
		  }
		  
		  .container {
			padding: 0 16px;
		  }
		  
		  .container::after, .row::after {
			content: "";
			clear: both;
			display: table;
		  }
		  
		  .title {
			color: grey;
		  }
		  
		  .button {
			border: none;
			outline: 0;
			display: inline-block;
			padding: 8px;
			color: white;
			background-color: #000;
			text-align: center;
			cursor: pointer;
			width: 100%;
		  }
		  
		  .button:hover {
			background-color: #555;
		  }
		  
		  @media screen and (max-width: 650px) {
			.column {
			  width: 100%;
			  display: block;
			}
		  }